body {
    background-color: beige;
}

textarea,
#controls {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

textarea {
    width: 375px;
    height: 375px;
    border: 1px solid black;
    margin-right: 30px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 15px;
}

#reverseSection {
    margin-bottom: 30px;
}

#replaceCharacter {
    margin-bottom: 30px;
}

#pigLatinSection p {
    width: 350px;
    margin-top: 0px;
}

input,
button {
    padding: 5px;
}

#character {
    width: 15px;
}

#text {
    width: 120px;
    margin-right: 5px;
}
